.label{
    font-size: 14px;
}
.popup{
    width:100%;
    height:120px;
    max-width:190px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.tituloCategoria{
    color:#057091;
}
.botaoPopup{
    background:#057091;
    float:left;
    padding:1px;
    text-align:center;
    color:white;
    width:70%;
    line-height:25px;
    border-radius:10px;
    left: 15%;
    position: absolute;
}

