page-relatar-problema {
    ion-textarea{
        border-radius: 3%;
        max-width:100% !important;
        border-style:solid;
        border-color: #057091;
        background-color: rgb(231, 235, 234);
    }
    ion-select{
        border-radius: 3%;
        max-width:100% !important;
        border-style:solid;
        border-color: #057091;
        background-color: rgb(231, 235, 234);
    }
    
    ion-card {
        position: relative;        
    }
    .bg-img{
        background-image: url("../../assets/imgs/camera.png");
    }
    .label{
        font-size: 12px;
    }
    
    
}
