page-relatar-problema {
    ion-textarea{
        
        max-width:100% !important;
        border-style:solid;
        //border-color: #057091;
        border-color: #d6d2d2;
        background-color: rgb(242, 247, 245);
    }
    ion-select{
        
        max-width:100% !important;
        border-style:solid;
        //border-color: #057091;
        border-color: #d6d2d2;
        background-color: rgb(242, 247, 245);
    }
    
    ion-card {
        position: relative; 
        padding: 1%;
    }
    
    .label{
        font-size: 12px;
    }
    .bg-img {
        padding: 1%;
        display: block;
        margin: auto;
        align-content: center;
        background-color: rgb(231, 235, 234);
        
    }
    
    
}
